section .scroll {
  width: 100%;
  display: flex;
}

section .scroll div {
  color: #000;
  font-size: 4rem;
  background-color: #8FBEDC;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 40s linear infinite;
}

section .scroll div:nth-child(2) {
  animation: animate2 30s linear infinite;
  animation-delay: -15s;
}

section .scroll div span {
  -webkit-text-stroke: 1px #000;
  color: transparent;
}

section .scroll.text-1 {
  transform: rotate(30deg) translateY(200px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.text-2 {
  transform: rotate(-25deg) translateY(120px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.text-3 {
  transform: rotate(25deg) translateY(300px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.text-4 {
  transform: rotate(-2deg) translateY(-150px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section .scroll.text-5 {
  transform: rotate(5deg) translateY(250px) translateX(-200px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

@keyframes animate {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
}

@keyframes animate2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
}