.services_we_provide {
  background-image: url("../../../../assets/services_we_provide_section.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1440/660;
}
